{% extends "templates/base.twig" %}

{#
 # Created by PhpStorm.
 # User: mmunoz
 # Date: 3/09/18
 # Time: 9:44
 #
 #}
{% block title %}Model Example{% endblock %}
{% block body %}
    <h1>This is an example for how to use Models</h1>

    <a href="?add" class="btn btn-default">Create Product</a>
    <a href="?list" class="btn btn-default">List Products</a>

{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
